// variables
$space: 8px;

$text-color-light: #FFF;
$text-color-dark: #24282C;

$main-color-blue: #4C7AA6;
$main-color-light: #E9F4FF;

$max-container-size: 1400px;

// mixins
$maxWidth: 1920; 
$minWidth: 280;
@mixin adaptiv-font($mobSize, $pcSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - $minWidth;
    font-size: min(calc(#{$mobSize + px} + #{$addSize} * ((100vw - #{$minWidth + px}) / #{$maxWidth})), #{$pcSize + px});
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: $text-color-light;
}

body {
    background-color: $main-color-light;

    &.menu-displayed {
        overflow-y: hidden;
    }
}

a {
    text-decoration: none;
    transition: text-shadow .2s ease;
    
    &:hover {
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $main-color-blue;
}
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #255e92;
}

.container {
    margin: 0 auto;
    width: clamp(264px, 90%, $max-container-size);
    height: 100%;

    @media (orientation: portrait) {
        width: 100%;
        padding: 0 clamp($space * 2, 3vw, $space * 3);
    }
}

.main-header {
    width: 100%;
    background-color: $main-color-blue;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: $space * 3;
    }

    &__logo {
        font-weight: bold;
        @include adaptiv-font(18, 40);
        padding: min(0.7em, 15px) 0;
        z-index: 10;
    }

    $hidden-contacts-width: 600px;

    &__contacts {
        font-weight: bold;
        @include adaptiv-font(12, 24);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-grow: 0.5;
        gap: min(40px, 5%);
        transition: left 0.3s ease-in-out;

        span {
            flex-shrink: 0;
            flex-grow: 0.2;
        }

        @media (max-width: $hidden-contacts-width) {
            display: none;
            font-size: 24px;
            position: absolute;
            left: 100%;
            top: 0;
            width: 100vw;
            height: 100vh;
            background-color: #4c7ba6de;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &.show {
            left: 0;
            display: flex;
        }
    }

    &__menu-burger {
        display: none;
        cursor: pointer;

        @media (max-width: $hidden-contacts-width) {
            display: block;
            width: 25px;
            z-index: 10;
        }
    }
}

.promo {
    width: 100%;
    height: min(1080, 84vh);

    background-image: url(/Assets/Images/header-bg-image.jpg);
    background-repeat: no-repeat;
    background-position-y: -180px;
    background-position-x: center;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__header {
        text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.8);
        @include adaptiv-font(28, 64);
        font-weight: 800;
    }

    &__text {
        text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.8);
        font-weight: 600;
        margin-top: 0.5em;
        @include adaptiv-font(20, 32);
    }

    &__buttons {
        margin-top: 2.5em;
        display: inline-flex;
        gap: 2vw;

        a {
            @include adaptiv-font(16, 24);
            font-weight: 600;
            background-color: $main-color-blue;
            padding: 0.25em 0.5em;
            transition: color .3s ease-in-out, box-shadow .3s ease-in-out;

            display: inline-flex;
            align-items: center;
            gap: 0.5em;

            box-shadow: inset 0 0 0 0 $text-color-light;

            // Font-awesome icons
            i {
                transition: color .3s ease-in-out;
                margin-top: 0.1em;
                @include adaptiv-font(12, 20);
            }

            &:hover {
                text-shadow: none;
                box-shadow: inset 200px 0 0 0 $text-color-light;
                color: $main-color-blue;

                i {
                    color: $main-color-blue!important;
                }
            }
        }
    }
}

.about-us {
    background-color: $main-color-blue;

    &__container {
        background-image: url(/Assets/Icons/builder.png);
        background-repeat: no-repeat;
        background-size: 28%;
        background-position: right;

        @media (max-width: 1000px) {
            background-image: none;
        }
    }

    &__header {
        font-weight: 600;
        @include adaptiv-font(28, 48);
        padding: 0.4em 0;

        @media (orientation: portrait) {
            padding-top: 0.6em;
        }
    }

    p {
        max-width: 60%;
        @include adaptiv-font(16, 24);
        padding-bottom: 1em;

        &:last-child {
            padding-bottom: 2em;
        }

        @media (max-width: 1000px) {
            max-width: 100%;
        }
    }
}

.work-categories {

    &__header {
        @include adaptiv-font(28, 48);
        color: $text-color-dark;

        padding-top: 0.4em;

        @media (orientation: portrait) {
            padding-top: 0.6em;
        }
    }

    .category {
        width: 100%;
        padding-bottom: 0.5em;

        &__name {
            @include adaptiv-font(20, 32);
            padding: 1em 0 0.5em 0;
            color: $text-color-dark;
        }

        &__description {
            @include adaptiv-font(16, 20);
            color: $text-color-dark;
        }

        &:nth-child(even) {
            background-color: $main-color-blue;
            
            .category__name {
                color: $text-color-light;
            }
    
            .category__description {
                color: $text-color-light;
            }

            .carousel__button { 
                background-color: $main-color-light!important;
                
                * {
                    color: $main-color-blue!important; 
                }
            }
            .carousel__dots {
                * {
                    color: $main-color-light!important;
                }
            }
        }

        // Fancybox carousel
        .carousel {
            height: 320px;
            width: 100%;
            padding-top: 1em;
            
            &__slide {
                width: 300px;
                height: 300px;
                margin: 0;

                a {
                    width: 100%;
                    height: 100%;
                    display: block;
                }

                a img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    background-color: white;
                }
            }

            .carousel__button { background-color: $main-color-blue; }
            .carousel__dots {
                * {
                    color: $main-color-blue;
                }
            }
        }
    }
}

.contacts {
    background-image: url(/Assets/Images/footer-bg-image.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -180px;

    &__header {
        @include adaptiv-font(28, 48);
        color: $text-color-light;
        text-align: center;
        padding: 0.4em;

        @media (orientation: portrait) {
            padding-top: 0.6em;
        }
        text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.8);
    }

    &__block {
        display: flex;
        justify-content: space-around;
        max-width: min(800px, 100%);
        margin: 0 auto;
        padding: 3em 0;

        @media (orientation: portrait) {
            flex-direction: column;
            width: 70%;
        }
    }

    &__column {
        cursor: pointer;
        position: relative;
        bottom: 40px;

        @media (orientation: portrait) {
            bottom: -20px;
            padding-bottom: 40px;
        }

        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;

        i {
            @include adaptiv-font(30, 50);
            background-color: $main-color-blue;
            width: max-content;
            padding: 0.3em;
            border-radius: 50%;
        }

        span, a, b {
            color: $text-color-light;
            text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.8);
            @include adaptiv-font(16, 30)
        }

        span {
            padding-top: 0.5em;
        }
    }
}

.footer {
    background-color: $main-color-blue;
    
    &__container {
        display: flex;
        justify-content: center;
    }

    &__logo {
        padding: 1em 0;
        font-weight: bold;
        @include adaptiv-font(18, 40);
    }
}